<!DOCTYPE html>
<html lang="en" class="flatscha">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="app.css" />
    <link rel="stylesheet" href="Flatscha.Blazor.TestApp.styles.css" />
    <link rel="stylesheet" href="_content/Flatscha.Blazor.Components/css/Flatscha.Blazor.Components.css" />
    <HeadOutlet />
</head>

<body>
    <Routes @rendermode="InteractiveServer" />
    <script src="_framework/blazor.web.js"></script>

    <script src="_content/Flatscha.Blazor.Components/js/fontawesome.js"></script>
    <script src="_content/Flatscha.Blazor.Components/js/reconnect.js"></script>
</body>

</html>
