.flatscha-alert {
    width: 100%;
    display: grid;
    grid-template-columns: max-content auto;
    grid-gap: 1rem;
    align-items: center;
    border: none;
    border-radius: 0.25rem;
    padding: 1rem 1.5rem;
}

    .flatscha-alert svg {
    }

    .flatscha-alert.alert-normal {
        background: var(--flatscha-font-color-transparent);
        color: var(--flatscha-font-color);
    }

        .flatscha-alert.alert-normal ::deep svg {
            fill: var(--flatscha-font-color);
        }

    .flatscha-alert.alert-info {
        background: var(--flatscha-blue-transparent);
        color: var(--flatscha-blue);
    }

        .flatscha-alert.alert-info ::deep svg {
            fill: var(--flatscha-blue);
        }

    .flatscha-alert.alert-success {
        background: var(--forced-smartui-green-transparent);
        color: var(--forced-smartui-green);
    }

        .flatscha-alert.alert-success ::deep svg {
            fill: var(--forced-smartui-green);
        }

    .flatscha-alert.alert-warn {
        background: var(--flatscha-orange-transparent);
        color: var(--flatscha-orange);
    }

        .flatscha-alert.alert-warn ::deep svg {
            fill: var(--flatscha-orange);
        }

    .flatscha-alert.alert-error {
        background: var(--flatscha-red-transparent);
        color: var(--flatscha-red);
    }

        .flatscha-alert.alert-error ::deep svg {
            fill: var(--flatscha-red);
        }

    .flatscha-alert .alert-text {
    }
