<div class="flatscha flatscha-toggle-switch @(this.Checked ? "checked" : "")" @onclick="this.Clicked">
    <div class="slider" />
    @if (this.ChildContent is not null)
    {
        <div class="switch-label">@this.ChildContent</div>
    }
</div>