@page "/"
@using Flatscha.Blazor.Components.Contracts.Enum
@using Flatscha.Blazor.Components.FloatingAction
@using Flatscha.Blazor.Components.Keyboard
@using Flatscha.Blazor.Components.Loading
@using Flatscha.Blazor.Components.Wizard
@using Microsoft.Extensions.Logging
@rendermode InteractiveServer

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<button @onclick="this.ShowSearchItemModal">SearchItemModal</button>
<button @onclick="this.ShowSearchModal">SearchModal</button>
<button @onclick="async() => await this._iconPrompt.Show(true)">IconPrompt - Success</button>
<button @onclick="async() => await this._iconPrompt.Show(false)">IconPrompt - Fail</button>


<textarea class="flatscha-keyboard-input" />
<textarea class="flatscha-keyboard-input" />
<FlatschaKeyboard Type="EKeyboardType.Numpad" />

<FlatschaTabs Values="this._actions" @bind-Value="this._activeAction" Header="x => x.Title" MessageCounter="x => 500001" MaxMessageCounter="50">
    @this._activeAction.Description
</FlatschaTabs>

<FlatschaTabControl>
    <FlatschaTab Header="Tab 1">
        <FlatschaAlert Level="EAlertLevel.Info">This is Tab 1</FlatschaAlert>
        <FlatschaIconButton FAClass="@this._icon" OnClick="this.ChangeIcon" />
    </FlatschaTab>
    <FlatschaTab Header="Tab 2">
        <FlatschaAlert Level="EAlertLevel.Warning">This is Tab 2</FlatschaAlert>
    </FlatschaTab>
</FlatschaTabControl>

<FlatschaSideWidget>
    <FlatschaAlert Level="EAlertLevel.Error">First Widget</FlatschaAlert>
</FlatschaSideWidget>
<FlatschaSideWidget>
    <FlatschaAlert Level="EAlertLevel.Warning">Second Widget</FlatschaAlert>
</FlatschaSideWidget>

<FlatschaFloatingActionNavigation>
    <FlatschaFloatingActionButton FAClass="user" />
    <FlatschaFloatingActionButton FAClass="location-dot" Title="Standort" />
    <FlatschaFloatingActionButton FAClass="music" />
</FlatschaFloatingActionNavigation>