@page "/"
@rendermode InteractiveServer

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<FlatschaAccordion>
    <FlatschaAccordionItem Name="Test">
        erstes
    </FlatschaAccordionItem>
    <FlatschaAccordionItem Name="Test2">
        zweites
    </FlatschaAccordionItem>
</FlatschaAccordion>

@code {
    private string _icon = "house";
    private void ChangeIcon() => this._icon = this._icon == "house" ? "user" : "house";
}