@page "/"
@using Flatscha.Blazor.Components.Loading
@rendermode InteractiveServer

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<button @onclick="this.OpenModal">Modal</button>
<button @onclick="this.Load">Load</button>
