@using Flatscha.Blazor.Components.Base
@inherits JSModuleComponent

<CascadingValue Value="this" IsFixed="true">
    @ChildContent
</CascadingValue>

<div class="flatscha tooltip @(this._showToolTip ? "show" : "")" @ref=this._toolTip>
    @if (string.IsNullOrWhiteSpace(this._text))
    {
        @this._toolTipContent
    }
    else
    {
        @this._text
    }
</div>
