<div class="flatscha flatscha-toggle-switch @(this.Checked ? "checked" : "")" @onclick="this.Clicked">
    <div class="slider" />
    @if (!string.IsNullOrWhiteSpace(this.Text))
    {
        <div class="switch-label">@this.Text</div>
    }
</div>