
* {
    /*Colors*/
    --flatscha-primary-color: var(--flatscha-green);
    --flatscha-primary-color-transparent: var(--flatscha-green-transparent);
    --flatscha-primary-color-gradient: var(--flatscha-green-gradient);
    --flatscha-primary-color-gradient-left: var(--flatscha-green-gradient-left);
    --flatscha-primary-color-box-shadow: 0 0 0.5em var(--flatscha-primary-color);
    --flatscha-color-scheme: dark;
    --flatscha-green: rgb(16, 100, 0);
    --flatscha-green-transparent: rgba(16, 100, 0, 0.1);
    --flatscha-green-gradient: linear-gradient(to right, transparent 0%, var(--flatscha-primary-color-transparent) 10%, var(--flatscha-primary-color) 90%);
    --flatscha-green-gradient-left: linear-gradient(to left, transparent 0%, var(--flatscha-primary-color-transparent) 10%, var(--flatscha-primary-color) 90%);
    --flatscha-red: rgb(150, 0, 0);
    --flatscha-red-gradient: linear-gradient(to right, transparent 0%, var(--flatscha-red-transparent) 10%, var(--flatscha-red) 90%);
    --flatscha-red-gradient-left: linear-gradient(to left, transparent 0%, var(--flatscha-red-transparent) 10%, var(--flatscha-red) 90%);
    --flatscha-red-transparent: rgba(150, 0, 0, 0.1);
    --flatscha-orange: rgb(200, 100, 0);
    --flatscha-orange-gradient: linear-gradient(to right, transparent 0%, var(--flatscha-orange-transparent) 10%, var(--flatscha-orange) 90%);
    --flatscha-orange-gradient-left: linear-gradient(to left, transparent 0%, var(--flatscha-orange-transparent) 10%, var(--flatscha-orange) 90%);
    --flatscha-orange-transparent: rgba(200, 100, 0, 0.1);
    --flatscha-lila-gradient: linear-gradient(to right, transparent 0%, var(--flatscha-lila-transparent) 10%, var(--flatscha-lila) 90%);
    --flatscha-lila-gradient-left: linear-gradient(to left, transparent 0%, var(--flatscha-lila-transparent) 10%, var(--flatscha-lila) 90%);
    --flatscha-lila: rgb(139, 0, 139);
    --flatscha-lila-transparent: rgba(139, 0, 139, 0.1);
    --flatscha-yellow-gradient: linear-gradient(to right, transparent 0%, var(--flatscha-yellow-transparent) 10%, var(--flatscha-yellow) 90%);
    --flatscha-yellow-gradient-left: linear-gradient(to left, transparent 0%, var(--flatscha-yellow-transparent) 10%, var(--flatscha-yellow) 90%);
    --flatscha-yellow: rgb(230, 200, 0);
    --flatscha-yellow-transparent: rgba(230, 200, 0, 0.1);
    --flatscha-blue-gradient: linear-gradient(to right, transparent 0%, var(--flatscha-blue-transparent) 10%, var(--flatscha-blue) 90%);
    --flatscha-blue-gradient-left: linear-gradient(to left, transparent 0%, var(--flatscha-blue-transparent) 10%, var(--flatscha-blue) 90%);
    --flatscha-blue: rgb(75, 75, 255);
    --flatscha-blue-transparent: rgba(75, 75, 255, 0.1);
    --flatscha-grey-gradient: linear-gradient(to right, transparent 0%, var(--flatscha-grey-transparent) 10%, var(--flatscha-grey) 90%);
    --flatscha-grey-gradient-left: linear-gradient(to left, transparent 0%, var(--flatscha-grey-transparent) 10%, var(--flatscha-grey) 90%);
    --flatscha-grey: rgb(128,128,128);
    --flatscha-grey-transparent: rgba(128,128,128, 0.1);
    /*Background*/
    --flatscha-bg: rgb(24, 27, 31);
    --flatscha-bg-transparent: rgba(24, 27, 31, 0.1);
    /*Font*/
    --flatscha-font-color: rgb(204, 204, 220);
    --flatscha-font-color-transparent: rgba(255,255,255,0.1);
}

.flatscha {
    color: var(--flatscha-font-color);
    color-scheme: var(--flatscha-color-scheme);
}

    .flatscha input,
    .flatscha select {
        color-scheme: var(--flatscha-color-scheme);
        accent-color: var(--flatscha-primary-color) !important;
    }

    .flatscha .btn {
        border: 1px solid transparent;
        border-radius: 0.25rem;
        text-decoration: none;
        user-select: none;
        padding: 0.375rem 0.75rem;
        font-size: 1rem;
    }

        .flatscha .btn:active,
        .flatscha .btn:focus {
            outline: none !important;
            box-shadow: none !important;
        }

        .flatscha .btn.btn-primary {
            color: var(--flatscha-font-color);
            background-color: var(--flatscha-primary-color);
            border-color: var(--flatscha-primary-color);
        }

        .flatscha .btn.btn-cancel {
            color: var(--flatscha-font-color);
            border: 1px solid var(--flatscha-primary-color);
        }

    .flatscha svg {
        fill: var(--flatscha-font-color);
    }

        .flatscha svg text {
            color: var(--flatscha-font-color) !important;
            fill: var(--flatscha-font-color) !important;
        }

    .flatscha hr {
        margin: 0;
        opacity: 0.25;
    }
